/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-spacing-horizontal: 1em;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.card {
  padding: 1rem;
  margin-top: 0rem;
  animation: fadeInUp 400ms backwards;
  animation-delay: 150ms;
  transition-property: all;
  transition-duration: 200ms;
  box-shadow: 0 8px 28px 4px rgba(86, 91, 115, 0.15);
}

.card a {
  text-decoration: none;
}

.card:hover {
  transform: translate(0px, -5px);
}

.api_stability {
  color: white;
  margin: 0 0 1rem;
  padding: 1rem;
  line-height: 1.5;
}

.api_stability a {
  color: black;
  text-decoration: underline;
}

.api_stability_0 {
  background-color: rgb(199, 43, 43);
}

.api_stability_1 {
  background-color: #ca5010;
}

.api_stability_2 {
  background-color: #5a8148;
}

.api_stability_3 {
  background-color: #4550dd;
}

html[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

html .accordion {
  --accordion-background-color: #fafafa;
  --accordion-background-color-hover: #f1f1f2;
  --accordion-border-color: #e4e4e7;
  --accordion-title-color: #475569;
  --accordion-caret-color: #64748b;
  --accordion-table-header-color: #334155;
  --accordion-nested-row-color: #52525b;
  --accordion-radius: 10px;
  background-color: var(--accordion-background-color);
  border: 1px solid var(--accordion-border-color);
  border-radius: var(--accordion-radius);
}

html[data-theme="dark"] .accordion {
  --accordion-background-color: #27272a;
  --accordion-background-color-hover: #3f3f46;
  --accordion-border-color: #6b7280;
  --accordion-title-color: #e2e8f0;
  --accordion-caret-color: #cbd5e1;
  --accordion-table-header-color: #d4d4d8;
  --accordion-nested-row-color: #a1a1aa;
}

.accordion-item-header {
  padding: 1rem;
  margin: 0;
  cursor: pointer;
}

.accordion-item-header:hover {
  background-color: var(--accordion-background-color-hover);
}

.accordion-item-header > h3 {
  color: var(--accordion-title-color);
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: flex;
}

.accordion-item-header > h3 > svg {
  color: var(--accordion-caret-color);
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.accordion-item:first-child .accordion-item-header {
  border-radius: var(--accordion-radius) var(--accordion-radius) 0 0;
}

.accordion-item:last-child.accordion-item-closed .accordion-item-header {
  border-radius: 0 0 var(--accordion-radius) var(--accordion-radius);
}

.accordion .accordion-item + .accordion-item {
  border-top: 1px solid var(--accordion-border-color);
}

.accordion-item-content {
  padding: 0;
  margin: 0;
}

.accordion-item-closed .accordion-item-content {
  display: none;
}

.accordion-item-content img {
  border-radius: var(--accordion-radius);
}

.accordion-item-content pre {
  background-color: var(--accordion-background-color) !important;
}

.accordion-item-padding {
  padding: 0;
  margin: 1rem;
}

.accordion-item-no-padding {
  padding: 0;
  margin: 0;
}

.accordion-item-no-padding > *:last-child {
  padding: 0;
  margin: 0;
}

.accordion-table-overflow {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.accordion-table {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

.accordion-table thead tr,
.accordion-table th,
.accordion-table td {
  border: none;
}

.accordion-table thead {
  background-color: var(--accordion-background-color-hover);
}

.accordion-table thead th {
  color: var(--accordion-table-header-color);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: left;
  padding: 0.5rem 1rem;
}

.accordion-table tr:nth-child(2n) {
  background-color: inherit;
}

.accordion-table tbody tr {
  border-top: 1px solid var(--accordion-border-color);
  font-size: 14px;
}

.accordion-table tbody th,
.accordion-table tbody td {
  text-align: left;
  padding: 0.5rem 1rem;
  margin: 0;
  vertical-align: top;
}

.accordion-table tbody th {
  font-weight: 700;
}

.accordion-table tbody tr + .accordion-table-nested-row {
  border: none;
}

.accordion-table tbody tr.accordion-table-nested-row > * {
  color: var(--accordion-nested-row-color);
  padding-top: 2rem;
}

.accordion-table
  tbody
  tr.accordion-table-nested-row
  + .accordion-table-nested-row
  > * {
  padding-top: 0.5rem;
}

.program-instruction-details {
  font-size: 14px;
}

html .program-instruction-account-icon {
  --program-instruction-account-icon-color: #d1d5db;
  --program-instruction-account-icon-color-hover: #9ca3af;
  --program-instruction-account-icon-active-color: #14b8a6;
  --program-instruction-account-icon-active-color-hover: #0f766e;
}

html[data-theme="dark"] .program-instruction-account-icon {
  --program-instruction-account-icon-color: #6b7280;
  --program-instruction-account-icon-color-hover: #9ca3af;
  --program-instruction-account-icon-active-color: #14b8a6;
  --program-instruction-account-icon-active-color-hover: #5eead4;
}

a.program-instruction-account-icon {
  display: block;
  color: var(--program-instruction-account-icon-color);
}

a.program-instruction-account-icon:hover {
  color: var(--program-instruction-account-icon-color-hover);
}

a.program-instruction-account-icon.active {
  color: var(--program-instruction-account-icon-active-color);
}

a.program-instruction-account-icon.active:hover {
  color: var(--program-instruction-account-icon-active-color-hover);
}

a.program-instruction-account-icon > svg {
  display: block;
}

a.program-instruction-account-icon + a.program-instruction-account-icon {
  margin-left: 0.5rem;
}
